@import "tailwindcss";

@theme {
	/* Sage */
	--color-sage-50: #f6f7ee;
	--color-sage-100: #ebedda;
	--color-sage-200: #d9ddb9;
	--color-sage-300: #c0c791;
	--color-sage-400: #a6b06b;
	--color-sage-500: #89944e;
	--color-sage-600: #6b753b;
	--color-sage-700: #525a31;
	--color-sage-800: #43492b;
	--color-sage-900: #3a4027;
	--color-sage-950: #1e2112;

	/* Vanilla */
	--color-vanilla-50: #fdfaed;
	--color-vanilla-100: #f8efcd;
	--color-vanilla-200: #f3e5ab;
	--color-vanilla-300: #e8ca61;
	--color-vanilla-400: #e3b53c;
	--color-vanilla-500: #db9825;
	--color-vanilla-600: #c1761e;
	--color-vanilla-700: #a1571c;
	--color-vanilla-800: #83451d;
	--color-vanilla-900: #6c381b;
	--color-vanilla-950: #3e1c0a;

	--font-hero: var(--font-hero);
}

:root {
	--success: hsl(196 52% 74%);
	--warning: hsl(34 89% 85%);
	--error: hsl(10, 93%, 70%);
}
